<h1>Listing checks</h1>

<table>
  <tr>
    <th>Payee</th>
    <th>Amount</th>
    <th>Account</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checks.each do |chck| %>
  <tr>
    <td><%= chck.payee %></td>
    <td><%= chck.amount %></td>
    <td><%= chck.account_name %></td>

    <td><%= link_to 'Edit', edit_account_check_path(@account, chck) %></td>
    <td><%= link_to 'Destroy', account_check_path(@account, chck), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Check', new_account_check_path(@account) %>
