<h1>Listing checks</h1>

<table>
  <tr>
    <th>Payee</th>
    <th>Amount</th>
    <th>Account</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checks.each do |check| %>
  <tr>
    <td><%= check.payee %></td>
    <td><%= check.amount %></td>
    <td><%= check.account %></td>
    <td><%= link_to 'Show', check %></td>
    <td><%= link_to 'Edit', edit_check_path(check) %></td>
    <td><%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Check', new_check_path %>
