<p id="notice"><%= notice %></p>

<p>
  <b>Payee:</b>
  <%= @check.payee %>
</p>

<p>
  <b>Amount:</b>
  <%= @check.amount %>
</p>


<%= link_to 'Edit', edit_account_check_path(@check) %> |
<%= link_to 'Back', checks_path %>
