<p id="notice"><%= notice %></p>

<p>
  <b>Payee:</b>
  <%= @transaction.payee %>
</p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>


<%= link_to 'Edit', edit_account_transaction_path(@account, @transaction) %> |
<%= link_to 'Back', account_transactions_path %>
